{{ define "main" }}
<div class="container">
  <div>
    <table id="projects" class="table table-hover table-sm">
        <thead>
          <th scope="col">Name</th>
          <th scope="col">Site</th>
          <th scope="col">Source code</th>
          <th scope="col">Summary</th>
        </thead>
        <tbody>
          {{ range .Site.Data.projects }}
            <tr>
              <th scope="row">{{.name}}</th>
              <td><a href="{{.site_url}}">{{.site_url}}</a></td>
              <td><a href="{{.code_url}}">{{.code_url}}</a></td>
              <td>{{.summary}}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">       
      <article role="main">
        {{ .Content }}
      </article>
    </div>
  </div>
</div>
<script type="application/javascript">
$(document).ready(function() {
    $('#projects').DataTable();
} );
</script>
{{ end }}
